#container{

}
#diaporama{
	width: 500px;
	height: 350px;
	overflow: hidden;
}
.slideselector{
	position: absolute;
}
.slideselectorcontainer{
	position: relative;
}
.slideselectornavigation{
	z-index: 1000;
	width:auto;
	height: 20px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	
	
}
.slideselectornavigation span{
	display: inline-block;
	height: 20px;
	line-height:20px;
	width: 10px;
	background-color: #532f06;
	color: white;
	cursor: pointer;
	margin: 0 2px;
	padding: 0 3px;;
}
.slideselectornavigation span:hover,.slideselectornavigation span.active{
	background-color: #C6700F;
}
